@model ProjectTask.Models.MsUser

@{
    ViewBag.Title = "Project Management - Login";
}

<section id="loginPage">
    <div class="mx-auto mt-lg-3 mb-lg-5 shadow p-3 mb-5 bg-white rounded" style="width: 600px;">
        <section id="title">
            <div class="card-header bg-light">
                <h3>Putud</h3>
                <h8>Project Management</h8>
            </div>
        </section>
        <div class="card-body">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "login", FormMethod.Post, htmlAttributes: new { @id = "login" }))
                {
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "col-sm-12 col-form-label" })
                        <div class="col-sm-12">
                            @Html.TextBoxFor(model => model.Username, htmlAttributes: new { @class = "form-control mt-2", @id = "Username", @placeholder = "Username" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.UserPassword, "Password", htmlAttributes: new { @class = "col-sm-12 col-form-label", })
                        <div class="col-sm-12">
                            @Html.PasswordFor(model => model.UserPassword, htmlAttributes: new { @class = "form-control mt-2", @id = "UserPassword", @placeholder = "Password" })
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary  mt-2 pr-5 pl-5" onclick="login()">Login</button>
                    </div>

                }
            </section>
        </div>
    </div>
</section>


@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

    <script>
        var status = null;

        function login() {
            console.log($("#Username").val());

        }

        $(document).ready(function () {
            $('#login').validate({
                rules: {
                    Username: {
                        required: true,
                    },
                    UserPassword: {
                        required: true,
                        minlength: 6
                    }
                },
                messages: {
                    UserPassword: {
                        minlength: "password should be at least 6 characters"
                    }
                }
            });
        });

    </script>
}

