@model ProjectTask.Models.ViewModel
@{
    ViewBag.Title = "Project Management - Home";
}

<section id="title">
    <div class="row mt-5">
        <div class="col-lg-7 mr-4">
            <h4>Projects</h4>
        </div>

        <div class="col-lg-5 row text-right">
            <div class="col-lg-8">
                <input type="text" id="myInput" class="form-control" onkeyup="myFunction()" placeholder="Filter projects and teams">
            </div>
            <div class="col-lg-4 ml-0">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-security">
                    New Project
                </button>
            </div>
        </div>

    </div>
</section>

<section id="table">
    <div class="table-responsive mt-4">
        @if (Model.msProjects.Count() > 0)
        {
            <table id="ProjectList" class="table  table-bordered display">
                <tbody>
                    @foreach (var item in Model.msProjects)
                    {
                        <tr class="tr-header">

                            <td style="padding-right: 0px;">
                                <i class="fas fa-suitcase"></i>
                            </td>
                            <td class="ProjectName" style="padding-right: 500px;">
                                @Html.DisplayFor(modelItem => item.ProjectName)
                            </td>
                            <td class=" text-center" style="padding-right: 10px;">
                                <a href="#exampleModal" data-toggle="modal" data-id="@item.ProjectID"
                                   data-target="#exampleModal" class="addProject"> Security</a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        }
        else
        {
            <h5> No data </h5>
        }
    </div>
</section>

<section id="modalSecurity">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h5 class="mb-3">Add Authorized User</h5>
                    <form id="formAddUser">
                        <input type="hidden" name="ProjectID" id="ProjectID" value="" />

                        @foreach (var item in Model.msUsers)
                        {
                            <div class="row custom-control custom-checkbox mb-3">
                                <div class="ml-0 pl-0">
                                    <div class="checkbox">
                                        <input type="checkbox" class="edit-checkbox group mr-2" name="UserID" value="@item.UserID">
                                        <label class="">
                                            @item.Username
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }
                    </form>
                    <div class="text-right">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="modalAddProject">
    <div class="modal fade" id="add-security" tabindex="-1" role="dialog" aria-labelledby="add-securityLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h3>Create new project</h3>
                    <h6>Projects contain your source code, work items, automated builds and more</h6>
                    <form id="formAddProject">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label" for="ProjectName">Project Name</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control mt-2" id="ProjectName" name="ProjectName" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label" for="ProjectDecription">Description</label>
                            <div class="col-sm-12">
                                <textarea id="ProjectDescription" name="ProjectDescription" class="form-control mt-2"></textarea>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary" onclick="AddProject()">Create</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {

    <script>

       

        function myFunction() {
           
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("ProjectList");
            tr = table.getElementsByTagName("tr");

       
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByClassName("ProjectName")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        $('.group').on('change', function () {
            var totalSeen = $("input.group:checked").length;
            if ($(this).prop("checked")) {
                var id = $(this).val();
                $("#formAddUser").submit();

            } 
        });

        $('#formAddUser').submit((e) => {
            e.preventDefault();
            var data = $('#formAddUser').serialize();
            console.log(data);
            $.ajax({
                type: "POST",
                url: "Home/StoreAuthUser",
                data: data,
                success: (data) => {
                    console.log("sukses");
                    if (data.success) {
                        alert("Success Add Authorized User")
                    } else {
                        alert("Cannot Add Authorized User")
                    }
                },
                error: (err) => {
                    alert(err.status);
                }

            });
        });

        console.log(status);

        $(".addProject").click(function ()  {
            var id = $(this).data('id');
            console.log(id);
            $('.modal-body #ProjectID').val(id);
        });
 

        function AddProject() {
            var data = $('#formAddProject').serialize();
            $.ajax({
                type: "POST",
                url: "Home/Store",
                data: data,
                success: (data) => {
                    if (data.success) {
                        alert("Success Add Project")
                    } else {
                        alert("Cannot Add Project")
                    }
                }

            });
        }


        $('#formAddProject').validate({
            rules: {
                ProjectName: {
                    required: true,
                }
            }
        });

    </script>


}